app-bar-chart {
  width: 50%;
}

app-bar-chart#chart {
  height: inherit;
  width: inherit;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}
.bar .axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisSteelBlue text {
  fill: steelblue;
}

.axisRed text {
  fill: red;
}



